<h1> Event #<%= @this_event.id%></h1>
<div> 
	<p> 
		<h4>Event of <%= @this_event.creator.name.capitalize %></h4>
		Description : <br/>
		<%= @this_event.description %><br/>
		Date : <%= @this_event.date %><br/>
		Place : <%= @this_event.place %><br/>
		Creator : <a href="<%= user_path((@this_event.creator.id))%>"><%= @this_event.creator.name %></a>
	</p>

	<p>
		<h4>Attendance</h4>
		<!-- pseudo code : 
		if user connecté 
			if !attendeed
				if creator 
					button subscribe
				else
					payer
				end
			else 
				bouton grisé
			end -->		
		<p>
			<% if user_signed_in? && !(@this_event.attendees.find_by_id(current_user.id)) %>
			
				<%= form_tag(subscribe_path) do %>
				<%= hidden_field_tag 'event', @this_event.id %>
					
					<% if @this_event.creator.id == current_user.id || @this_event.price == 0 %>
		  				<%= submit_tag 'Subscribe' %>
		  			<% else %>
						Price : <%= @this_event.price %> USD  				
		  				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          		data-description="A month's subscription"
		          		data-amount= <%= (@this_event.price * 100) %> 
		          		data-locale="auto"></script>
		          	<% end %> 
		        <% end %>
		    <% else %> 
		    	<button type="button" class="btn btn-primary" disabled> Subscribe </button>
		    <% end %>

		</p>

		<% unless @this_event.attendees.count == 0%>
			List of attendees : <br/>
			<ul>
			<%= @this_event.attendees.each do |attendee| %>
				<li> <a href="<%= user_path(attendee.id) %>"> <%=attendee.name.capitalize %> </a> </li>
			<% end %>
			</ul>
			<!-- A cet endroit là, on a dans la view les attendees qui s'affichent ... On ne sait pas pourquoi. Si vous avez une idée, n'hésitez pas !  --> 
		<% else %>
			Ho, it's sad : there is no attendee.  
		<% end %>
	</p>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
